<div class="site-footer">
    <div class="site-footer-detail">
        <div class="row">
            <div class="large-6 columns">
                <aside class="widget widget_text">
                    <h3 class="widget-title">
                        Teddy
                    </h3>
                    <div class="textwidget">
                        <p>
                            ร้านขายตุ๊กตา ราคาถูก ลิขสิทธิ์แท้จากผู้ผลิต มีมาตรฐาน มอก.
                            <br> สินค้าของเรารับมาจากโรงงานผู้ผลิตโดยตรง ซึ่งเป็นสินค้าตัวเดียวกับที่อยู่ตามห้างสรรพสินค้า
                            <br> ติดต่อเรา Facebook: <a href="http://www.facebook.com/dollytopfy">ตุ๊กตาราคาถูก
                            </a> LINE: <a>hukikuni</a>, Tel: 088-0877288 , 0897947809
                        </p>
                    </div>
                </aside>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <aside class="widget widget_text">
                    <h3 class="widget-title-right">
                        <a href="login">
                            <i class="fas fa-user">&nbsp;</i>Login
                        </a>
                    </h3>
                    <div class="textwidget-right">
                        <p>
                            Products Management
                        </p>
                    </div>
                </aside>
            </div>
        </div>

    </div>

    <div class="site-footer-copyright">
        <div class="row">
            <div class="large-12 columns">
                <nav class="navbar navbar-expand-lg text-align:right">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse navbar-collapse-footer">
                            <div class="navbar-nav-footer">
                                <a class="nav-link" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="nav-link" href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a class="nav-link" href="#">
                                    <i class="fab fa-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="copyright">
                    ติดต่อเรา LINE: hukikuni, Tel: 088-0877288 , 0897947809
                </div>
            </div>
        </div>
    </div>
</div>