<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid site-top-message">
        <a class="navbar-brand ms-5">
            <span class="text-top-bar">
                For foreign customer (English language), Please contact our operating sale Line: hukikuni
                or Facebook: <a target="_blank" rel="nofollow"
                    href="https://www.facebook.com/dollytopfy">ตุ๊กตาราคาถูก</a>
            </span>
        </a>
        <a class="d-flex">
            <span class="icon-bar">
                <a target="_blank" rel="nofollow" href="https://www.facebook.com/dollytopfy">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </span>
            <span class="icon-bar">
                <i class="fab fa-instagram"></i>
            </span>
            <span class="icon-bar">
                <i class="fab fa-line"></i>
            </span>
        </a>
    </div>
</nav>

<header class="site-header sticky">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="site-branding">
                <a href="#" rel="home">
                    <img src="assets/Logo-PNG-800-x-800.png" alt="logo" loading="lazy"
                        style="width: 50px; height: 50px;">
                </a>
            </div>
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                ร้านค้า
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="วิธีการสั่งซื้อ">
                                วิธีการสั่งซื้อ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="วิธีการชำระเงิน">
                                วิธีการชำระเงิน
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="แจ้งชำระเงิน">
                                แจ้งชำระเงิน
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="บทความ">
                                บทความ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse">
                        <div class="navbar-nav">
                            <span type="button" class="nav-link button-btn btn" data-bs-toggle="modal"
                                data-bs-target="#ModalSearch">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>

        </nav>
    </div>
</header>

<!-- modal popup search -->
<div class="modal fade modal-fullscreen-xl-down" tabindex="-1" id="ModalSearch">
    <div class="modal-dialog modal-fullscreen-xl-down">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-search">
                    <h5 class="modal-title" id="Searching">WHAT ARE YOU LOOKING FOR? </h5>
                </div>
                <div class="close-modal" style="margin-top: -60px;">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

            </div>
            <div class="modal-body">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        placeholder="ค้นหาสินค้า..." aria-describedby="inputGroup-sizing-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg">
                        <i class="fas fa-search search-icon"></i>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <!-- item form search here -->
                Search item
            </div>
        </div>
    </div>
</div>