.fab {
    font-size: 57px;
    color: black;
}

.material-icons {
    font-size: 50px;
    color: black;
}

.card-text {
    margin-top: 15px;
    margin-bottom: 1rem;
    font-size: 37px;
    color: gray;
    font-weight: normal;
}

div>h5 {
    font-size: 35px;
    color: red;
}

div>span {
    font-size: 20px;
    margin-top: 10px;
}