<h2 class="mb-4 mt-4">Dashboard</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-4 pd-10">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">
                            <i class="fab fa-reddit-alien"></i>
                        </h5>
                        <div></div>
                        <div></div>
                        <h5>{{products}}</h5>
                        <span class="d-flex">ทั้งหมด</span>
                    </div>
                    <div class="d-flex justify-content-between">
                    </div>
                    <p class="card-text">สินค้า</p>
                    <a href="product-management/จัดการสินค้า" class="btn btn-dark">รายละเอียด</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pd-10">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">
                            <span class="material-icons">
                                feed
                                </span>
                        </h5>
                        <div></div>
                        <div></div>
                        <h5>{{articles}}</h5>
                        <span class="d-flex">ทั้งหมด</span>
                    </div>
                    <div class="d-flex justify-content-between">
                    </div>
                    <p class="card-text">บทความ</p>
                    <a href="product-management/จัดการบทความ" class="btn btn-dark">รายละเอียด</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pd-10">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">
                            <span class="material-icons">
                                admin_panel_settings
                                </span>
                        </h5>
                        <div></div>
                        <div></div>
                        <h5>{{users}}</h5>
                        <span class="d-flex">ทั้งหมด</span>
                    </div>
                    <div class="d-flex justify-content-between">
                    </div>
                    <p class="card-text">ผู้ดูแลระบบ</p>
                    <a href="product-management/จัดการผู้ดูแลระบบ" class="btn btn-dark">รายละเอียด</a>
                </div>
            </div>
        </div>
    </div>
</div>