<!-- top content -->
<div class="shop_header">
    <div class="shop_header_overlay">
    </div>
    <div class="row">
        <div class="large-12 large-centered columns">
            <h1 class="page-title on-shop">SHOP</h1>
            <div class="row"></div>
            <ul class="list_shop_categories list-centered">
                <li class="list-inline-item"><a href="#">Bear</a></li>
                <li class="list-inline-item"><a href="#">Animal</a></li>
                <li class="list-inline-item"><a href="#">Character</a></li>
                <li class="list-inline-item"><a href="#">DC Universe</a></li>
                <li class="list-inline-item"><a href="#">Disney</a></li>
                <li class="list-inline-item"><a href="#">How to train your dragon</a></li>
                <li class="list-inline-item"><a href="#">Marvel</a></li>
                <li class="list-inline-item"><a href="#">Minions</a></li>
                <li class="list-inline-item"><a href="#">Onepiece</a></li>
                <li class="list-inline-item"><a href="#">Pokemon</a></li>
                <li class="list-inline-item"><a href="#">Pony</a></li>
                <li class="list-inline-item"><a href="#">Rilakuma</a></li>
                <li class="list-inline-item"><a href="#">Snoopy</a></li>
                <li class="list-inline-item"><a href="#">ตุ๊กตานุ่มนิ่ม</a></li>
                <li class="list-inline-item"><a href="#">เครื่องใช้</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="before_main_content">
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="catalog_top">
                    <div class="woocommerce-notice-wrapper">
                    </div>
                </div>
            </div>

            <!-- sidebar -->

            <div class="xlarge-2 large-3 columns show-for-large">
                <div class="shop_sidebar wpb_widgetised_column">
                    <aside class="widget woocommerce widget_product_categories">
                        <h3 class="widget-title">หมวดหมู่สินค้า</h3>
                        <ul class="product-categories">
                            <li class="cat-item">
                                <a href="#">Animal</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">Bear</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">Character</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">DC Universe</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">Disney</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">How to train your dragon</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">Marvel</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">Minions</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">Onepiece</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">Pokemon</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">Pony</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">Rilakkuma</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">Snoopy</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">ตุ๊กตานุ่มนิ่ม</a>
                                <span class="count">10</span>
                            </li>
                            <li class="cat-item">
                                <a href="#">เครื่องใช้</a>
                                <span class="count">10</span>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>

            <!-- content pagination -->
            <div class="xlarge-10 large-9 columns">
                <div class="row row-content">
                    <div class="top_bar_shop">
                        <div class="row row-conten-top-bar">
                            <div class="small-5 medium-7 xlarge-8 columns text-left">
                            </div>
                            <div class="small-7 medium-5 xlarge-4 columns text-right">
                                <div class="catalog-ordering">
                                    <p class="result-count">
                                        Showing 1–20 of 716 results</p>
                                    <select class="ordering-select orderby" aria-label="ordering select">
                                            <option selected>การเรียงลำดับ</option>
                                            <option value="1">เรียงตามความนิยม</option>
                                            <option value="2">เรียงตามลำดับล่าสุด</option>
                                            <option value="3">เรียงตามราคา: ต่ำไปสูง</option>
                                            <option value="4">เรียงตามราคา: สูงไปต่ำ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content product -->
                <div class="row row-content">
                    <div class=" large-12 columns ">
                        <div class="row row-content">
                            <div class="large-12 columns ">
                                <ul class="row products products-grid" loading="lazy">
                                    <li class="column delay-1 animate ">
                                        <div class="product_thumbnail_wrapper ">
                                            <div class="product_thumbnail with_second_image " style="background-size: cover;">
                                                <a href="# ">
                                                    <span class="product_thumbnail_background "></span>
                                                    <img src="assets/spiderman-doll.jpg " alt="spider-man">
                                                </a>
                                            </div>
                                            <span class="onsale">Sale!</span>
                                        </div>
                                        <h3>
                                            <a class="product-title-link " href="#">ตุ๊กตา สไปเดอร์แมน / Spiderman</a>
                                        </h3>
                                        <div class="archive-product-rating "></div>
                                        <div class="product_after_shop_loop_price ">
                                            <span class="price ">    
                                            <span class="woocommerce-Price-amount amount ">180&nbsp;
                                            <span class="woocommerce-Price-currencySymbol ">฿
                                            </span>
                                            </span>–
                                            <span class="woocommerce-Price-amount amount ">580&nbsp;
                                            <span class="woocommerce-Price-currencySymbol ">฿
                                            </span>
                                            </span>
                                            </span>
                                        </div>

                                    </li>
                                    <li class="column delay-1 animate ">
                                        <div class="product_thumbnail_wrapper ">
                                            <div class="product_thumbnail with_second_image " style="background-size: cover;">
                                                <a href="# ">
                                                    <span class="product_thumbnail_background "></span>
                                                    <img src="assets/spiderman-doll.jpg " alt="spider-man">
                                                </a>
                                            </div>
                                            <span class="onsale">Sale!</span>
                                        </div>
                                        <h3>
                                            <a class="product-title-link " href="#">ตุ๊กตา สไปเดอร์แมน / Spiderman</a>
                                        </h3>
                                        <div class="archive-product-rating "></div>
                                        <div class="product_after_shop_loop_price ">
                                            <span class="price ">    
                                            <span class="woocommerce-Price-amount amount ">180&nbsp;
                                            <span class="woocommerce-Price-currencySymbol ">฿
                                            </span>
                                            </span>–
                                            <span class="woocommerce-Price-amount amount ">580&nbsp;
                                            <span class="woocommerce-Price-currencySymbol ">฿
                                            </span>
                                            </span>
                                            </span>
                                        </div>

                                    </li>
                                    <li class="column delay-1 animate ">
                                        <div class="product_thumbnail_wrapper ">
                                            <div class="product_thumbnail with_second_image " style="background-size: cover;">
                                                <a href="# ">
                                                    <span class="product_thumbnail_background "></span>
                                                    <img src="assets/spiderman-doll.jpg " alt="spider-man">
                                                </a>
                                            </div>
                                            <span class="onsale">Sale!</span>
                                        </div>
                                        <h3>
                                            <a class="product-title-link " href="#">ตุ๊กตา สไปเดอร์แมน / Spiderman</a>
                                        </h3>
                                        <div class="archive-product-rating "></div>
                                        <div class="product_after_shop_loop_price ">
                                            <span class="price ">    
                                            <span class="woocommerce-Price-amount amount ">180&nbsp;
                                            <span class="woocommerce-Price-currencySymbol ">฿
                                            </span>
                                            </span>–
                                            <span class="woocommerce-Price-amount amount ">580&nbsp;
                                            <span class="woocommerce-Price-currencySymbol ">฿
                                            </span>
                                            </span>
                                            </span>
                                        </div>

                                    </li>
                                    <li class="column delay-1 animate ">
                                        <div class="product_thumbnail_wrapper ">
                                            <div class="product_thumbnail with_second_image " style="background-size: cover;">
                                                <a href="# ">
                                                    <span class="product_thumbnail_background "></span>
                                                    <img src="assets/spiderman-doll.jpg " alt="spider-man">
                                                </a>
                                            </div>
                                            <span class="onsale">Sale!</span>
                                        </div>
                                        <h3>
                                            <a class="product-title-link " href="#">ตุ๊กตา สไปเดอร์แมน / Spiderman</a>
                                        </h3>
                                        <div class="archive-product-rating "></div>
                                        <div class="product_after_shop_loop_price ">
                                            <span class="price ">    
                                            <span class="woocommerce-Price-amount amount ">180&nbsp;
                                            <span class="woocommerce-Price-currencySymbol ">฿
                                            </span>
                                            </span>–
                                            <span class="woocommerce-Price-amount amount ">580&nbsp;
                                            <span class="woocommerce-Price-currencySymbol ">฿
                                            </span>
                                            </span>
                                            </span>
                                        </div>

                                    </li>
                                    <li class="column delay-1 animate ">
                                        <div class="product_thumbnail_wrapper ">
                                            <div class="product_thumbnail with_second_image " style="background-size: cover;">
                                                <a href="# ">
                                                    <span class="product_thumbnail_background "></span>
                                                    <img src="assets/spiderman-doll.jpg " alt="spider-man">
                                                </a>
                                            </div>
                                            <span class="onsale">Sale!</span>
                                        </div>
                                        <h3>
                                            <a class="product-title-link " href="#">ตุ๊กตา สไปเดอร์แมน / Spiderman</a>
                                        </h3>
                                        <div class="archive-product-rating "></div>
                                        <div class="product_after_shop_loop_price ">
                                            <span class="price ">    
                                            <span class="woocommerce-Price-amount amount ">180&nbsp;
                                            <span class="woocommerce-Price-currencySymbol ">฿
                                            </span>
                                            </span>–
                                            <span class="woocommerce-Price-amount amount ">580&nbsp;
                                            <span class="woocommerce-Price-currencySymbol ">฿
                                            </span>
                                            </span>
                                            </span>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>