<div class="shop_header">
    <div class="shop_header_overlay">
    </div>
    <div class="row">
        <div class="large-12 large-centered columns">
            <h1 class="page-title on-shop">SHOP</h1>
            <div class="row"></div>
            <ul class="list_shop_categories list-centered">
                <li class="list-inline-item"><a href="#">Bear</a></li>
                <li class="list-inline-item"><a href="#">Animal</a></li>
                <li class="list-inline-item"><a href="#">Character</a></li>
                <li class="list-inline-item"><a href="#">DC Universe</a></li>
                <li class="list-inline-item"><a href="#">Disney</a></li>
                <li class="list-inline-item"><a href="#">How to train your dragon</a></li>
                <li class="list-inline-item"><a href="#">Marvel</a></li>
                <li class="list-inline-item"><a href="#">Minions</a></li>
                <li class="list-inline-item"><a href="#">Onepiece</a></li>
                <li class="list-inline-item"><a href="#">Pokemon</a></li>
                <li class="list-inline-item"><a href="#">Pony</a></li>
                <li class="list-inline-item"><a href="#">Rilakuma</a></li>
                <li class="list-inline-item"><a href="#">Snoopy</a></li>
                <li class="list-inline-item"><a href="#">ตุ๊กตานุ่มนิ่ม</a></li>
                <li class="list-inline-item"><a href="#">เครื่องใช้</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="before_main_content">
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="catalog_top">
                    <div class="woocommerce-notice-wrapper">
                    </div>
                </div>
            </div>

            <!-- code here -->
            <div class="xlarge-2 large-3 columns show-for-large">
                <div class="shop_sidebar wpb_widgetised_column">
                    <aside class="widget woocommerce widget_product_categories">
                        <h3 class="widget-title">หมวดหมู่สินค้า</h3>
                        <ul class="product-categories">
                            <li class="cat-item">
                                <a href="#">Animal</a>
                                <span class="count">10</span>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>

        </div>
    </div>
</div>