<header class="entry-header-page">
    <div class="row">
        <div class="col-xl col-lg col-md col">
            <ul class="list-centered">
                <h1 class="page-title">บทความ</h1>
                <li><a href="#">All</a></li>
                <li>
                    <a href="#">
                        <a href="#" title="ทายนิสัยจากตุ๊กตา">ทายนิสัยจากตุ๊กตา</a>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>


<div class="container">

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 g-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-text">
                        <a href="javascript:;">
                            <img class="card-img-top" src="assets/spiderman-doll.jpg" alt="image article" width="100%"
                                height="400">
                            ทายนิสัยจาก “ตุ๊กตาหมี”
                        </a>
                    </h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="post_archive">
                            by &nbsp;
                            <a class="url fn n" href="javascript:;" title="View all post by Admin"
                                rel="author">AdminSoft+</a>
                            &nbsp; on &nbsp;
                            <a href="javascript:;" title="Permalink to ทายนิสัยจากตุ๊กตา ตุ๊กตาหมี" rel="bookmark">
                                <time class="entry-date" datetime="2020-06-22T10:42:13+00:00">ตุลาคม 8,2018</time>
                            </a>
                        </div>

                    </div>
                    <div class="entry-content mt-3">
                        <p>ทายนิสัยจากตุ๊กตา</p>
                        <a class="more-link" href="javascript:;">Continue Reading</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- 
<div class="row">
    <div class="col-xxl-10 col-xl-11 col-lg-12 large-centered">
        <ul class="row">
            DEV HERE ARTICLE
            <li class="col-12 col-md-6 col-lg-6 col-xl col-xxl">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="card card-article">
                        <img src="assets/spiderman-doll.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="col-12 col-md-6 col-lg-6 col-xl col-xxl border">
                2 of 2
            </li>
        </ul>
    </div>
</div> -->