<header class="entry-header-page">
    <div class="row">
        <div class="col-xl col-lg col-md col">
            <ul class="list-centered">
                <h1 class="page-title">บทความ</h1>
                <li><a href="#">All</a></li>
                <li>
                    <a href="#">
                        <a href="#" title="ทายนิสัยจากตุ๊กตา">ทายนิสัยจากตุ๊กตา</a>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-xxl-10 col-xl-11 col-lg-12 large-centered">
        <ul class="row">
            <!-- DEV HERE ARTICLE -->
            <li class="col-12 col-md-12 col-lg-6 col-xl col-xxl">
                <div class="card card-article">
                    <img src="assets/spiderman-doll.jpg" class="card-img-top" alt="Image article">
                    <div class="card-body">
                        <p class="card-text">Some quird lk of the card's content.</p>
                    </div>
                </div>
            </li>

            <li class="col-12 col-md-12 col-lg-6 col-xl col-xxl">
                2 of 2
            </li>
        </ul>
    </div>