.entry-header-page {
  margin-bottom: 45px;
  .list-centered {
    margin-left: 0;
    margin-bottom: 5px;
    text-align: center;
    list-style: none;
    li {
      display: inline-block;
      font-size: inherit;
      a {
        color: #000;
        font-size: 14px;
        font-weight: normal;
        text-decoration: none;
        margin: 0 12px 5px;
        padding: 5px 0px;
      }
    }
    .page-title {
      text-align: center;
      font-weight: 600;
      font-size: 3.5rem;
    }
  }
}

.large-centered {
  margin-right: auto;
  margin-left: auto;
  .large-centered,
  .large-centered:last-child:not(:first-child) {
    float: none;
    clear: both;
  }
}
.card-article {
  .card-img-top {
    display: block;
    width: 500px;
    height: auto;
    img {
      object-fit: cover;
    }
  }
  .card-body {
    min-width: 1px;
  }
}
