<div class="site-content blog">
    <header class="entry-header-page">
        <div class="row">
            <div class="xlarge-8 large-10 xlarge-centered large-centered columns without-sidebar">
                <ul class="list-categories list-centered">
                    <h1 class="page-title blog-listing">บทความ</h1>
                    <li class="cat-item"><a href="#">All</a></li>
                    <li class="cat-item">
                        <a href="#">
                            <a href="#" title="ทายนิสัยจากตุ๊กตา">ทายนิสัยจากตุ๊กตา</a>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>


    <div class="row">
        <div class="xxlarge-10 xlarge-11 large-12 large-centered columns index-layout-1" style="width: 100%;">
            <div class="blog-post-container">
                <ul id="masonry_grid" class="blog-posts masonry_columns_3 fade-in d-flex" data-columns="2" style="justify-content: space-between;">
                    <div class="s_column size-1of2">
                        <li class="blog-post">
                            <div class="blog-post-inner">
                                <h2 class="entry-title-archive">
                                    <a href="#" class="thumnail_archive">
                                        <span class="thumbnail_archive_container">
                                            <img width="620" height="500" src="assets/spiderman-doll.jpg" class="attachment-blog-isotope size-blog-isotope wp-post-image wp-post-image"
                                            alt="ตุ๊กตาหมีเท้าจุดจัมโบ้ ตุ๊กตาหมีตัวใหญ่ ตุ๊กตาหมีน่ารัก" loading="lazy">
                                        </span>
                                        <span>ทายนิสัยจาก “ตุ๊กตาหมี”</span>
                                    </a>
                                </h2>
                            </div>
                            <div class="post_meta_archive">
                                by
                                <a class="url fn n" href="#" title="View all posts by admin" rel="author">admin</a> on
                                <a href="#" title="Permalink to ทายนิสัยจาก “ตุ๊กตาหมี”" rel="bookmark">
                                    <time class="entry-date" datetime="2018-10-08T10:42:13+00:00">ตุลาคม 8, 2018</time>
                                </a>
                            </div>
                            <div class="entry-content-archive">
                                <p>ทายนิสัยจากตุ๊กตา..</p>
                                <a class="more-link" href="#">
                                    Continue Reading
                                </a>
                            </div>
                        </li>
                    </div>
                </ul>

            </div>
        </div>
    </div>

</div>