/* You can add global styles to this file, and also import other style files */

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Kanit", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: black;
}

body {
    position: relative;
}

.material-icons {
    vertical-align: text-bottom !important;
    font-size: 22px;
}
